.idea/
.vscode/
.python-version
__pycache__/
tmp/
db.sqlite3

# 忽略migrations文件
**/migrations/*.py
!**/migrations/__init__.py
Dockerfile/requirements.txt

# 忽略文件
*.pyc
*.css.map
db.sqlite3
.qiniu_*
deploy-prod.sh
