<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{{ sso_server_url }}/static/css/login.css">
</head>
<body>
<div class="container">
    <div class="login">
        <div class="logo">
            <img src="{{ sso_server_url }}/static/images/logo.svg" alt="编程列车">
        </div>
        {% if msg %}
            <div class="info">{{ msg }}</div>
        {% endif %}

        {% if user.is_authenticated != True %}
            <form method="post">
                <p>
                    <label for="id_username">用户名:</label>
                    <input type="text" name="username" required="" id="id_username">
                </p>
                <p>
                    <label for="id_password">密   码:</label>
                    <input type="password" name="password" required="" id="id_password">
                </p>
                {% csrf_token %}
                <div class="button">
                    <input class="btn" type="submit" value="登 陆">
                </div>
                <div class="reset-pwd">
                    <a href="">
                        Reset password
                    </a>
                </div>
            </form>
        {% else %}
            {#        退出登录      #}
            <div class="reset-pwd">
                {{ user.username }} ~ 您好！
                <a href="/user/logout">
                    退出登录
                </a>
            </div>

        {% endif %}
    </div>
</div>


</body>
</html>