<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>信息页</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="container">
    <div class="login">
        <div class="logo">
            <img src="/static/images/logo.svg" alt="编程列车">
        </div>
        {% if msg %}
            <div class="info">{{ msg }}</div>
        {% endif %}

        {#        退出登录      #}
        <div class="reset-pwd">
            {{ user.username }} ~ 您好！
            <a href="/user/logout">
                退出登录
            </a>
        </div>
    </div>
</div>


</body>
</html>